.episodesPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .episodesPage-top-title,
  .episodesPage-featureCards {
    padding: 2rem 4rem;
    width: 80%;
    align-self: center;
    gap: 1.5rem;

    @media screen and (max-width: 1600px) {
      width: 90%;
    }

    @media screen and (max-width: 1100px) {
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      padding: 1rem 0;
      width: 90%;
      grid-template-columns: 1fr;
    }
  }

  &-top {
    min-height: 100vh;
    width: 100%;
    gap: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-black-color-contrast);

    &-title {
      margin-top: 16rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      h1 {
        font-size: 6rem;
        font-weight: 700;
        color: var(--white-color-text-primary);
        line-height: 120%;
      }

      span {
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 120%;
        color: var(--white-color-text-primary);
        width: 70%;
      }

      @media screen and (max-width: 1450px) {
        h1 {
          font-size: 5rem;
        }

        span {
          font-size: 1.1rem;
        }
      }

      @media screen and (max-width: 768px) {
        margin-top: 10rem;

        h1 {
          font-size: 4rem;
        }

        span {
          font-size: 1rem;
          width: 100%;
        }
      }

      @media screen and (max-width: 600px) {
        h1 {
          font-size: 3rem;
        }
      }
    }
  }

  &-featureCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: start;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .episodePage-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 1rem;
    background-color: var(--primary-color-light);
    border-radius: 8px;
    gap: 0.8rem;

    &-image {
      position: relative;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
        min-height: 400px;
        height: 400px;

        @media screen and (max-width: 768px) {
          min-height: 250px;
          height: 250px;
        }
      }

      .episode-card-category {
        position: absolute;
        top: 1rem;
        left: 1rem;
        padding: 0.5rem 1rem;
        background-color: var(--bg-white-color);
        border-radius: 28px;
        font-size: 1rem;
        font-weight: 600;
        color: var(--black-color-text-primar);

        @media screen and (max-width: 768px) {
          font-size: 0.8rem;
        }
      }

      .episode-card-musicplayer {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0.5rem 1rem;
        width: 100%;
      }
    }

    &-details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      font-size: 1.1rem;
      font-weight: 400;
      line-height: 120%;
      color: var(--black-color-text-tertiary);

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
      }
    }

    &-title {
      margin-bottom: 1.5rem;
      min-height: 100px;
      height: auto;

      h3 {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 120%;
        color: var(--black-color-text-primary);
      }

      @media screen and (max-width: 1300px) {
        h3 {
          font-size: 2rem;
        }
      }

      @media screen and (max-width: 768px) {
        min-height: auto;
      }
    }
  }

  &-episodes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    @media screen and (max-width: 768px) {
      gap: 1rem;
    }

    &-title,
    &-filter,
    &-cards__container {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

      padding: 0 4rem;
      width: 80%;
      align-self: center;
      gap: 1.5rem;

      @media screen and (max-width: 1600px) {
        width: 90%;
      }

      @media screen and (max-width: 1100px) {
        width: 100%;
      }

      @media screen and (max-width: 768px) {
        padding: 1rem 0;
        width: 90%;
      }

      .episodePage-card {
        background-color: var(--bg-white-color);

        img {
          min-height: 270px;
          height: 270px;

          @media screen and (max-width: 768px) {
            min-height: 250px;
            height: 250px;
          }
        }
      }
    }

    &-title {
      margin-top: 6rem;

      h2 {
        font-size: 4rem;
        font-weight: 700;
      }

      @media screen and (max-width: 768px) {
        margin-top: 4rem;
        display: flex;
        justify-content: flex-start;
        padding: 0;

        h2 {
          font-size: 2.5rem;
        }
      }
    }

    &-filter {
      gap: 0.8rem;

      .filter-item {
        padding: 12px 20px;
        cursor: pointer;
        border: 1px solid var(--bg-black-color);
        border-radius: 8px;
        color: var(--black-color-text-primary);
        transition: all 0.3s ease-in-out;

        &:hover,
        &.selected {
          background-color: var(--bg-black-color);
          color: var(--white-color-text-primary);
        }
      }

      @media screen and (max-width: 500px) {
        justify-content: flex-start;
      }
    }

    &-cards__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: start;

      @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
