@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-center-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.musicPlayer {
  width: 100%;
  @include flex-column-center;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  gap: 0.5rem;
  cursor: default;

  &-player {
    width: 100%;
    @include flex-row-center;
    gap: 1rem;

    &-control {
      width: 100%;
      @include flex-row-center-start;
      gap: 1rem;

      &-play {
        width: 24px;
        height: 24px;

        svg {
          height: 24px;
          width: 24px;
        }

        // loader animation
        .loader {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          display: inline-block;
          box-sizing: border-box;
          animation: rotation 1s linear infinite;
          border: 3px solid var(--gray-color-text-dark-2);
          border-bottom-color: var(--bg-dark-primary);
        }

        @keyframes rotation {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }

      &-progress {
        width: calc(100% - 24px);
        @include flex-row-center;
        gap: 1rem;

        font-size: 0.9rem;
        font-weight: 500;

        &-bar {
          width: 100%;
          background-color: var(--gray-color-text-dark-2);
          height: 4px;
          border-radius: 10px;
          @include flex-row-center-start;

          &-fill {
            background-color: var(--bg-black-color);
            width: 40%;
            height: 100%;
            border-radius: 10px;
          }
        }
      }
    }

    &-action {
      @include flex-row-center;
      width: 100%;
      gap: 1rem;

      &-link {
        width: 50%;
        background-color: var(--bg-white-color);
        border-radius: 10px;
        @include flex-row-center;
        padding: 0.5rem 1rem;

        font-size: 1rem;
        font-weight: 500;
        transition: background-color 0.3s ease-in-out;

        button {
          @include flex-row-center;
          gap: 0.5rem;
          background-color: transparent;
          transition: all 0.3s ease-in-out;
        }

        svg {
          height: 18px;
          width: 18px;
        }

        .redirect-icon {
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          background-color: var(--primary-color-text-contrast-2);

          .redirect-icon {
            transform: rotate(-45deg);
          }

          button  {
            background-color: var(--primary-color-text-contrast-2) !important;
          }
        }
      }

      @media screen and (max-width: 768px) {
        gap: 0.5rem;

        &-link {
          font-size: 0.8rem;

          svg {
            height: 16px;
            width: 16px;
          }
        }
      }

      @media screen and (max-width: 350px) {
        flex-direction: column;

        &-link {
          width: 100%;
        }
      }
    }
  }

  &.musicPlayer-large {
    gap: 1rem;
    background-color: red !important;

    .musicPlayer-player {
      width: 100%;
      @include flex-row-center;
      gap: 1rem;

      .musicPlayer-player-control {
        @media screen and (max-width: 768px) {
          gap: 0.5rem;

          .musicPlayer-player-control-progress {
            gap: 0.5rem;
          }
        }

        .musicPlayer-player-control-play {
          width: 42px;
          height: 42px;

          svg {
            height: 42px;
            width: 42px;
          }

          @media screen and (max-width: 768px) {
            width: 24px;
            height: 24px;

            svg {
              height: 24px;
              width: 24px;
            }
          }
        }
      }
    }
  }
}
