@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flex-col-center-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-row-center-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-row-between-end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.production {
  @include flex-column-center;
  width: 100%;
  background-color: var(--bg-black-color);

  .separator {
    @include flex-row-center;
    gap: 0.5rem;
    margin: 1rem 0;

    &-large {
      width: 70px;
      border-radius: 10px;
      @media screen and (max-width: 650px) {
        width: 40px;
      }
    }

    &-small {
      width: 5px;
      height: 5px;
      border-radius: 50%;
    }
  }

  &-home {
    @include flex-column-center;
    width: 100%;
    background-color: var(--bg-black-color);
    min-height: 100vh;
    margin-top: 2rem;

    @media screen and (max-width: 768px) {
      padding: 1rem;
      margin-top: 4rem;
    }

    &-main {
      position: relative;
      width: 80%;
      height: 90%;
      max-height: 90vh;
      min-height: 750px;

      overflow: hidden;
      border-radius: 20px;

      @media screen and (max-width: 1300px) {
        width: 95%;
      }

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      &-image {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          //   max-height: 90vh;
          object-fit: cover;
        }
      }

      &-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 65%;
        background-image: linear-gradient(to top, black, transparent);

        @media screen and (max-width: 768px) {
          height: 100%;
        }
      }

      &-content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 75%;
        padding: 2rem;
        gap: 2rem;
        @include flex-row-between-end;
        color: var(--white-color-text-primary);

        @media screen and (max-width: 768px) {
          padding: 1rem;
          flex-direction: column-reverse;
          height: 100%;
        }

        &-text {
          @include flex-col-center-start;
          gap: 1rem;

          &-courseName {
            @include flex-row-center;
            gap: 0.5rem;
            font-size: 1rem;
            font-weight: 600;
            line-height: 120%;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: var(--white-color-text-secondary);
          }

          &-title {
            font-size: 5rem;
            font-weight: 600;
            line-height: 100%;
            margin: 0;
          }

          &-subtitle {
            color: var(--white-color-text-secondary);
          }

          @media screen and (max-width: 1300px) {
            &-title {
              font-size: 4rem;
            }
          }

          @media screen and (max-width: 768px) {
            &-courseName {
              font-size: 0.8rem;
            }
            &-title {
              font-size: 2.5rem;
            }
          }
        }

        &-miniBanner {
          @include flex-row-center;
          img {
            width: 280px;
            height: 100%;
            border-radius: 10px;
            max-width: 300px;

            @media screen and (max-width: 1100px) {
              width: 200px;
            }

            @media screen and (max-width: 768px) {
              width: 150px;
            }
          }
        }
      }
    }
  }

  &-about {
    width: 100%;
    @include flex-column-center;

    &-main {
      padding: 2rem 4rem 4rem 4rem;
      width: 80%;
      align-self: center;
      gap: 1.5rem;
      color: var(--white-color-text-primary);

      @media screen and (max-width: 1600px) {
        width: 90%;
      }

      @media screen and (max-width: 1100px) {
        width: 100%;
      }

      @media screen and (max-width: 768px) {
        padding: 0 0 2rem 0;
        width: 90%;
        grid-template-columns: 1fr;
      }

      &-header {
        @include flex-column-center;
        gap: 0.5rem;
        text-align: center;
        margin: 2rem 0;

        @media screen and (max-width: 768px) {
          margin: 1rem 0 2rem 0;
        }

        h1 {
          font-size: 4rem;
          font-weight: 600;
          line-height: 115%;
          margin: 0;
          width: 70%;

          @media screen and (max-width: 1300px) {
            font-size: 3rem;
          }

          @media screen and (max-width: 768px) {
            font-size: 2.2rem;
            width: 100%;
            line-height: 105%;
            // text-align: left;
          }
        }
      }

      &-content {
        @include flex-row-center;
        position: relative;

        video {
          width: 100%;
          height: 100%;
          border-radius: 20px;
          max-height: 800px;
          object-fit: cover;
        }

        &-video-overlay {
          position: absolute;
          border-radius: 20px 0 0 0;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            to bottom,
            var(--bg-black-color),
            transparent
          );
          z-index: 1;
        }

        &-btn {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
        }
      }
    }
  }

  &-accordion {
    width: 100%;
    @include flex-column-center;

    &-main {
      padding: 4rem;
      width: 80%;
      align-self: center;
      gap: 1.5rem;
      color: var(--white-color-text-primary);

      @media screen and (max-width: 1600px) {
        width: 90%;
      }

      @media screen and (max-width: 1100px) {
        width: 100%;
      }

      @media screen and (max-width: 768px) {
        padding: 3rem 0 5rem 0;
        width: 90%;
        grid-template-columns: 1fr;
      }

      &-heading {
        @include flex-column-center;
        gap: 0.5rem;
        text-align: center;
        margin: 1.5rem 0 4rem 0;

        @media screen and (max-width: 768px) {
          margin: 2rem 0 1rem 0;
        }

        h1 {
          font-size: 4rem;
          font-weight: 600;
          line-height: 100%;
          margin: 0;
          width: 70%;
          text-align: center;

          @media screen and (max-width: 1300px) {
            font-size: 3rem;
          }

          @media screen and (max-width: 768px) {
            font-size: 2.2rem;
            width: 100%;
            line-height: 105%;
          }
        }
      }

      &-content {
        @include flex-row-center;
        gap: 2rem;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
          margin-top: 4rem;
        }

        &-action {
          @include flex-col-center-start;
          gap: 2rem;

          &-item {
            @include flex-col-center-start;
            gap: 0.5rem;
            cursor: pointer;

            &-heading {
              h2 {
                font-size: 2.2rem;
                font-weight: 600;
                line-height: 100%;
                color: var(--gray-color-text-dark-2);
              }
            }

            &-description {
              span {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 100%;
                color: var(--gray-color-text-dark-2);
              }
            }

            &-image {
              display: none;
              width: 100%;
              margin-top: 1rem;
              position: relative;

              img {
                width: 100%;
                height: 250px;
                border-radius: 20px;
                object-fit: cover;
              }

              .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(
                  to top,
                  var(--bg-black-color),
                  transparent
                );
                z-index: 1;
              }
            }

            &.active {
              h2 {
                color: var(--white-color-text-primary);
              }

              span {
                color: var(--white-color-text-tertiary);
              }
            }

            @media screen and (max-width: 768px) {
              &-heading {
                h2 {
                  font-size: 1.5rem;
                }
              }

              &-description {
                span {
                  font-size: 0.8rem;
                }
              }
              &-image {
                display: block;
              }
            }
          }

          .dynamic-progressbar {
            width: 100%;
            height: 3px;
            background-color: var(--gray-color-text-dark);
            border-radius: 10px;
            overflow: hidden;

            .progress {
              height: 100%;
              transition: width 0.22s ease-out; /* Smooth transition */

              background-color: var(--white-color-text-primary);
            }
          }
        }

        &-image {
          position: relative;
          @media screen and (max-width: 768px) {
            display: none;
          }

          img {
            width: 100%;
            height: 450px;
            border-radius: 20px;
            object-fit: cover;
          }

          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              to left,
              var(--bg-black-color),
              transparent
            );
            z-index: 1;
          }
        }
      }
    }
  }

  &-price {
    width: 100%;
    @include flex-column-center;
    background-color: var(--bg-sky-color);

    &-main {
      padding: 2rem 4rem;
      width: 80%;
      align-self: center;
      gap: 1.5rem;
      color: var(--black-color-text-primary);

      @media screen and (max-width: 1600px) {
        width: 90%;
      }

      @media screen and (max-width: 1100px) {
        width: 100%;
      }

      @media screen and (max-width: 768px) {
        padding: 0 0 2rem 0;
        width: 90%;
        grid-template-columns: 1fr;
      }

      &-heading {
        @include flex-column-center;
        gap: 0.5rem;
        text-align: center;
        margin: 2rem 0;

        @media screen and (max-width: 768px) {
          margin: 1rem 0;
        }

        &-text {
          @include flex-row-center;

          h1 {
            font-size: 4rem;
            font-weight: 600;
            line-height: 100%;
            margin: 0;
            width: 70%;
            text-align: center;

            @media screen and (max-width: 1300px) {
              font-size: 3rem;
            }

            @media screen and (max-width: 768px) {
              font-size: 2.2rem;
              width: 100%;
              line-height: 105%;
            }
          }
        }

        &-subtext {
          margin: 1rem 0;

          span {
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 120%;
            letter-spacing: 1px;
            color: var(--black-color-text-tertiary);

            @media screen and (max-width: 768px) {
              font-size: 0.8rem;
            }
          }
        }
      }

      &-content {
        @include flex-row-center;
        gap: 1rem;
        flex-wrap: wrap;

        @media screen and (max-width: 768px) {
          flex-direction: column;
        }

        &-item {
          @include flex-col-center-start;
          align-items: stretch;
          gap: 0.5rem;
          background-color: var(--bg-white-color);
          border-radius: 16px;
          width: 45%;
          height: auto;
          padding: 2rem;

          @media screen and (max-width: 768px) {
            width: 100%;
            padding: 1.5rem;
          }

          &-heading {
            @include flex-row-center;
            justify-content: space-between;
            gap: 1rem;

            h2 {
              font-size: 2.2rem;
              font-weight: 600;
              line-height: 100%;
            }

            .price {
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 100%;
              color: var(--gray-color-text-dark-2);
              @include flex-column-center;
              gap: 0.1rem;

              span:last-of-type {
                font-size: 0.8rem;
                font-weight: 600;
                line-height: 100%;
              }
            }

            @media screen and (max-width: 1050px) {
              h2 {
                font-size: 1.8rem;
              }

              .price {
                font-size: 1.2rem;
              }
            }
          }

          &-list {
            @include flex-col-center-start;
            gap: 1rem;
            margin: 1rem 0;

            &-item {
              @include flex-row-center;
              gap: 0.5rem;
              font-size: 1rem;
              font-weight: 500;
              line-height: 100%;
            }
          }

          &-action {
            @include flex-row-center;
          }
        }
      }
    }
  }

  &-end {
    width: 100%;
    @include flex-column-center;
    background-color: var(--bg-black-color);

    &-cta {
      @include flex-column-center;
      gap: 1rem;
      width: 100%;
      position: relative;
      color: var(--white-color-text-primary);

      img {
        width: 100%;
        height: 500px;
        object-fit: cover;
      }

      &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, var(--bg-black-color), transparent);
        z-index: 1;
      }

      &-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        text-align: center;
        width: 100%;
        padding: 0 2rem;

        @media screen and (max-width: 768px) {
          padding: 0 1rem;
        }

        &-text {
          @include flex-column-center;
          gap: 1rem;
          margin: 1rem 0;

          h1 {
            font-size: 4rem;
            font-weight: 600;
            line-height: 100%;
            margin: 0;
            width: 70%;
            text-align: center;

            @media screen and (max-width: 1300px) {
              font-size: 3rem;
            }

            @media screen and (max-width: 768px) {
              font-size: 2.2rem;
              width: 100%;
              line-height: 105%;
            }
          }

          span {
            font-size: 1rem;
            font-weight: 500;
            line-height: 120%;
          }
        }

        &-button {
          @include flex-row-center;
          margin-top: 2rem;
        }
      }
    }
  }
}
