a {
  text-decoration: none;
  button {
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--primary-color-contrast-2);
    color: var(--black-color-text-primary);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    svg {
      height: auto;
      width: 20px;
      background-color: transparent;
      transition: all 0.3s ease;
      margin-right: -6px;
    }

    &:hover {
      svg {
        transform: rotate(-35deg);
      }
    }

    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }
}
