@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Onest';
  src: url('../src/assets/fonts/Onest-Regular.woff2') format('woff2'),
      url('../src/assets/fonts/Onest-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../src/assets/fonts/Onest-Black.woff2') format('woff2'),
      url('../src/assets/fonts/Onest-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../src/assets/fonts/Onest-Bold.woff2') format('woff2'),
      url('../src/assets/fonts/Onest-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../src/assets/fonts/Onest-ExtraBold.woff2') format('woff2'),
      url('../src/assets/fonts/Onest-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../src/assets/fonts/Onest-Light.woff2') format('woff2'),
      url('../src/assets/fonts/Onest-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../src/assets/fonts/Onest-ExtraLight.woff2') format('woff2'),
      url('../src/assets/fonts/Onest-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../src/assets/fonts/Onest-Medium.woff2') format('woff2'),
      url('../src/assets/fonts/Onest-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../src/assets/fonts/Onest-Regular.woff2') format('woff2'),
      url('../src/assets/fonts/Onest-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../src/assets/fonts/Onest-SemiBold.woff2') format('woff2'),
      url('../src/assets/fonts/Onest-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../src/assets/fonts/Onest-Thin.woff2') format('woff2'),
      url('../src/assets/fonts/Onest-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dancing Script';
  src: url('../src/assets/fonts/DancingScript-Medium.woff2') format('woff2'),
      url('../src/assets/fonts/DancingScript-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dancing Script';
  src: url('../src/assets/fonts/DancingScript-Bold.woff2') format('woff2'),
      url('../src/assets/fonts/DancingScript-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dancing Script';
  src: url('../src/assets/fonts/DancingScript-Regular.woff2') format('woff2'),
      url('../src/assets/fonts/DancingScript-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dancing Script';
  src: url('../src/assets/fonts/DancingScript-SemiBold.woff2') format('woff2'),
      url('../src/assets/fonts/DancingScript-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg-primary: #fbf7ec;
  --bg-white-color: #ffffff;
  --gray-color: #6b7688;
  --white-color-text-primary: #ffffff;
  --white-color-text-secondary: #e4e4e4;
  --primary-color-contrast: #ffeace;
  --primary-color-contrast-2: #FFCA85;

  --bg-dark-primary: #010510;
  --bg-black-color: #000000;
  --bg-black-color-contrast: #141414;
  --bg-black-color-contrast-2: #313337;
  --bg-black-color-contrast-3: #3e3e3e;
  --black-color-text-primary: #000000;
  --black-color-text-secondary: #141414;

  --gradient-black-bg: linear-gradient(
    90deg,
    rgba(1, 5, 16, 1) -10%,
    rgba(0, 0, 0, 1) 55%,
    rgba(1, 5, 16, 1) 110%
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-primary);
}
.main__loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__loader span {
  color: var(--primary-color-contrast);
}

#root {
  display: flex;
  flex-direction: column;
}