@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --bg-primary: #fbf7ec;
  --bg-white-color: #ffffff;
  --gray-color: #6b7688;
  --white-color-text-primary: #ffffff;
  --white-color-text-secondary: #e4e4e4;
  --primary-color-contrast: #ffeace;

  --bg-dark-primary: #010510;
  --bg-black-color: #000000;
  --bg-black-color-contrast: #141414;
  --bg-black-color-contrast-2: #313337;
  --bg-black-color-contrast-3: #3e3e3e;
  --black-color-text-primary: #000000;
  --black-color-text-secondary: #141414;

  --gradient-black-bg: linear-gradient(
    90deg,
    rgba(1, 5, 16, 1) -10%,
    rgba(0, 0, 0, 1) 55%,
    rgba(1, 5, 16, 1) 110%
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-primary);
}
.main__loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__loader span {
  color: var(--primary-color-contrast);
}
