.homepage {
  height: 100vh;
  width: 100%;

  background: var(--gradient-black-bg);
  min-height: 650px;
  
  @media screen and (max-width: 768px) {
    min-height: 800px;
  }

  &-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;

    &-content {
      width: 80%;
      // height: 100%;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      position: absolute;
      top: 25%;

      .main-heading {
        h1 {
          color: var(--white-color-text-primary);
          font-size: 6rem;
          font-weight: 600;
          text-align: center;
          text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          margin: 0;
          line-height: 120%;

          @media screen and (max-height: 800px) {
            font-size: 4rem;
          }

          @media screen and (max-width: 1330px) {
            font-size: 4rem;
          }

          @media screen and (max-width: 860px) {
            font-size: 3rem;
          }

          @media screen and (max-width: 620px) {
            font-size: 2.5rem;
          }
        }
      }

      .main-subheading {
        p {
          color: var(--white-color-text-secondary);
          margin: 0;
          font-size: 1.2rem;
          font-weight: 400;
          letter-spacing: 1px;
          text-align: center;
          text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

          @media screen and (max-height: 800px) {
            font-size: 1rem;
          }

          @media screen and (max-width: 1330px) {
            font-size: 1rem;
          }

          @media screen and (max-width: 860px) {
            font-size: 0.7rem;
          }
        }

        @media screen and (min-width: 1500px) {
          width: 1100px;
        }
      }

      .homepage-cta {
        margin-top: 2rem;

        @media screen and (max-height: 768px) {
          margin-top: 1rem;
        }
      }

      @media screen and (max-height: 750px) {
        top: 20%;
      }
    }
  }
}
