.homepage {
  height: 100vh;
  width: 100%;

  background: var(--gradient-black-bg);

  &-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;

    &-content {
      width: 80%;
      // height: 100%;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;

      .main-heading {
        h1 {
          color: var(--white-color-text-primary);
          font-size: 6rem;
          font-weight: 600;
          text-align: center;
          text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          margin: 0;
        }
      }

      .main-subheading {
        p {
          color: var(--white-color-text-secondary);
          margin: 0;
          font-size: 1.5rem;
          font-weight: 400;
          letter-spacing: 1px;
          text-align: center;
          text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        @media screen and (min-width: 1500px) {
          width: 1100px;
        }
      }
    }
  }
}
