.testimonial-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-width: 40%;
  padding: 2rem;
  background-color: var(--bg-white-color);
  gap: 2.5rem;
  max-height: none;
  height: auto;
  border-radius: 20px;
  align-self: stretch;

  @media screen and (min-width: 1500px) {
    max-height: none;
    height: auto;
  }

  @media screen and (max-width: 1200px) {
    min-width: 60%;
    gap: 1.5rem;
  }

  @media screen and (max-width: 768px) {
    height: auto;
    max-height: none;
    min-width: 85%;
    gap: 1rem;
    padding: 20px;
  }

  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;

    @media screen and (max-width: 768px) {
      gap: 1rem;
    }

    &-title {
      margin: 0;
      font-size: 2.2rem;
      line-height: 120%;
      font-weight: 700;
      color: var(--black-color-text-secondary);

      @media screen and (max-width: 768px) {
        font-size: 1.6rem;
      }
    }

    &-description {
      margin: 0;
      font-size: 1.2rem;
      line-height: 120%;
      font-weight: 400;
      color: var(--black-color-text-tertiary);
      text-align: justify;

      @media screen and (max-width: 768px) {
        font-size: 1rem;
      }
    }

    &-info {
      margin-top: auto;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 1rem;

      .profile-img {
        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .text-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 0.4rem;

        p {
          margin: 0;
          font-size: 0.9rem;
          line-height: 0.9rem;
          font-weight: 600;
          color: var(--black-color-text-quaternary);
        }

        span {
          margin: 0;
          font-size: 0.7rem;
          line-height: 0.7rem;
          font-weight: 400;
          color: var(--black-color-text-tertiary);
        }
      }

      @media screen and (max-width: 768px) {
        margin-top: 0.5rem;
      }
    }
  }
}
